.thumbnail{
    width: 100%;
}

.search-bar{
    display: block;
}

.video-title{
    font-weight: bold;
    font-size: 20px;
}

.video-preview{
    width: 100%;
    vertical-align: top;
}
.channel-avatar{
    width: 95%;
    border-radius: 100px;
}

.channel-picture{
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}
.channel-info{
    display: inline-block;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}